<div class="contenido">
    <h2>Tus rutinas</h2>

    <div class="contenedorInfoPerfil">
        <h3>Mi Perfil</h3>
        <p>Nombre: {{ usuario.nombre }} </p>
        <p>Apellido: {{ usuario.apellido }} </p>
        <p>Correo: {{ usuario.email }} </p>
        <p>Telefono: {{ usuario.telefono }} </p>
        <p>Pais: {{ usuario.pais }}</p>
    </div>
    
    <div class="contenidoRutinas" *ngFor="let rutina of rutinas">
        <img src="../../../assets/img/muscular.png" class="imagen" width="200" height="200" >
        <h3> Nombre Rutina: {{ rutina.nombreRutina }} </h3>
        <p>Recomendaciones: {{ rutina.recomendaciones }}</p>
        <p>Objetivos: {{ rutina.objetivo }}</p>
        <p>Duracion: {{ rutina.duracion }} </p>
        <button  type="button" (click)="quitarRutina(rutina)">quitar</button>
    </div>



</div>
