<div class="contenedorLogin">

    <h2>Fitness</h2>

    <div class="contenedorFormulario">
        <form [formGroup]="formRegister" (ngSubmit)="registrarUsuario()">
            <h3>Registro</h3>
            <input formControlName="nombre" type="text"  placeholder="nombre">
            <input formControlName="apellido" type="text"  placeholder="apellido">
            <input formControlName="email" type="email"  placeholder="correo electronico">
            <input formControlName="password" type="password"  placeholder="contraseña">
            <input formControlName="passwordDos" type="password"  placeholder="repita contraseña">
            <input type="submit" value="Crear Cuenta">
            <p>ya tienes una cuenta? <a routerLink="/login">Ingresa aqui</a></p>
        </form>
    </div>

</div>
