<div class="contenedorLogin">

    <h2>Fitness workout</h2>

    <div class="contenedorFormulario">
        <form>
            <h3>Registro</h3>
            <input type="text" name="nombre" placeholder="nombre">
            <input type="text" name="apellido" placeholder="apellido">
            <input type="email" name="email" placeholder="correo electronico">
            <input type="password" name="password" placeholder="contraseña">
            <input type="password" name="password" placeholder="repita contraseña">
            <input type="submit" value="Ingresar">
            <p>ya tienes una cuenta? <a routerLink="/login">Ingresa aqui</a></p>
        </form>
    </div>

</div>
